 body {
  background-image: url(C:\Users\psiva\OneDrive\Documents\GitHub\MART120\Homework 7\style sheet\Crumpled-white-paper-texture-background.jpg);
 background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
